{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block content %}
    Posts should be here.<br/>
    {% for post in posts %}
        <h1><a href="{{ path('post_view', { id: post.id }) }}">{{ post.name }}</a></h1>
        <p>{{ post.description }}</p>
        <div>
            <img class="post-image" src="{{ post.file_path }}" />
        </div>
    {% endfor %}
    <div class="pager">
        {{ paginator(paginator) }}
    </div>
{% endblock %}